@model List<AppUser>

@{
    ViewData["Title"] = "Üyeler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Üyeler</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var user in Model)
        {
            <li>
                @user.Id: @user.UserName - @user.Email
                <p user-roles="@user.Id"></p>
                <a asp-action="AssignRole" asp-route-id="@user.Id">Rol Ata</a>
            </li>
        }
    </ul>
}